[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #328332;
  --md-primary-fg-color--light: #4caf50;
  --md-primary-fg-color--dark: #1b5e20;
  --md-accent-fg-color: #66bb6a;
}
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #328332;
  --md-primary-fg-color--light: #4caf50;
  --md-primary-fg-color--dark: #1b5e20;
  --md-accent-fg-color: #2e7d32;
}
